@page "/"

<div class="main-container d-flex flex-column justify-content-center">
    <section class="hero-section" style="max-width: 1000px; margin-top: 20vh;">
        <h1 class="mono-text" style="margin-bottom: 30px;">Hi, my name is</h1>
        
        <h2 class="big-heading">Fabian Staszkiewicz.</h2>
        <h3 class="big-heading dark-heading">I build robust backend systems.</h3>
        
        <p style="max-width: 540px; margin-top: 20px; font-size: 1.2rem;">
            I'm a computer science student and a software developer specializing in building 
            scalable applications and REST APIs. Currently, my main focus is developing 
            reliable architectures using .NET Core, C#, and Entity Framework. 
            I am actively looking for a summer internship opportunity.
        </p>

        <a href="https://github.com/fstaszkiewicz" target="_blank" class="outline-button">
            Check out my GitHub!
        </a>
    </section>
</div>